<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wolfcode.mapper.DepartmentMapper">
    <insert id="save" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO department(name, sn) VALUES (#{name}, #{sn})
    </insert>
    <update id="update">
        UPDATE department SET
          name = #{name},
          sn = #{sn}
        WHERE id = #{id}
    </update>
    <delete id="delete">
        DELETE FROM department WHERE id = #{id}
    </delete>
    <select id="get" resultType="cn.wolfcode.domain.Department">
        SELECT id, name, sn FROM department WHERE id = #{id}
    </select>
    <select id="listAll" resultType="cn.wolfcode.domain.Department">
         SELECT id, name, sn FROM department
    </select>
</mapper>